/* Machines table custom styles */
.p-table--machines td {
  vertical-align: top;
}

/* Columns */
.p-table__col--name {
  width: 15%;
}

.p-table__col--power{
  width: 5%;
}

.p-table__col--ip {
  width: 12%;
}

.p-table__col--status {
  width: 15%;
}

.p-table__col--events {
  width: 15%;
}

.p-table__col--owner {
  width: 9%;
}

.p-table__col--cores {
  width: 7%;
}

.p-table__col--ram {
  width: 7%;
}

.p-table__col--disks {
  width: 7%;
}

.p-table__col--storage {
  width: 7%;
}

/* Headers */
.p-table__header--storage {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Cells */
.p-table__cell--name, .p-table__cell--status, .p-table__cell--events {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Other */
.group-heading__cell, .p-table__cell--name, .p-table__header--name {
  padding-left: 10px;
}

.p-table__cell--storage, .p-table__header--storage {
  padding-right: 10px;
}

/* ####################*/

/* ICONS */
.p-icon--power-on {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22%230E8420%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E")
}

.p-icon--power-off {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22%23CDCDCD%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E")
}

.p-icon--power-error {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16.000017 16.000017' width='16'%3E%3Cg stroke-width='1.5' color='%23000'%3E%3Cpath d='M8 0C3.5906 0 0 3.5906 0 8s3.5906 8 8 8 8-3.5906 8-8-3.5906-8-8-8z' fill='rgba(199,22,43,0.999999)'/%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3Cpath d='M5 5l6 6m0-6l-6 6' stroke-dashoffset='.8' stroke='%23fff' fill='none'/%3E%3C/g%3E%3C/svg%3E")
}


/*
  Viewports for density and compactness
  Classes used:
    - .compact-0: no compactness added, elements are using the most room
    - .compact-1: 1st level of compactness, stacking & grouping enabled
    - .compact-2: 2nd lever of compactness, severe grouping & stacking, peotential removal of lower-priority elements
    - .detail-0: just the basic information shown
    - .detail-1: additional information shown
*/


/* LARGE */
@media (min-width: 1401px) {
  .compact-1, .compact-2 {
    display: none;
  }

  .detail-0 {
    display: none;
  }
}

/* MEDIUM */
@media (max-width: 1400px) and (min-width: 1201px) {
  .compact-1, .compact-2 {
    display: none;
  }

  .detail-1 {
    display: none;
  }
}

/* SMALL */
@media (max-width: 1200px) and (min-width: 751px) {
  .compact-0, .compact-2 {
    display: none;
  }

  .detail-1 {
    display: none;
  }
}

/* X-SMALL */
@media (max-width: 750px) {
  .compact-0 {
    display: none;
  }

  .detail-1 {
    display: none;
  }
}

/* TESTING */

/* grouping headers */
.group-heading__cell {
  background-color: #ccc;
}

/* a test inplementation of a smaller size for nested information */
.muted {
  font-size: 0.875rem;
}

/* potential new pattern for displaying FQDNs */
.p-domain {
  font-weight: bold;
}

.p-domain--off {
  font-weight: normal;
  color: #cdcdcd;
}

.p-domain__suffix {
  font-weight: normal;
  color: #cdcdcd;
}

/* USEFUL FOR DEBUGGING COLUMN WIDTHS
col {
  background-color: #AEF642;
}

.p-table__col--name,
.p-table__col--ip,
.p-table__col--events,
.p-table__col--cores,
.p-table__col--disks {
  background-color: #F4FBEA;
}
*/

/* DEMO ONLY */
section {
  padding: 0 20px;
}

table {
  margin-top: 2rem;
}

.p-inline-list__item a {
  color: #fff;
}
